<div class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            <button mat-stroked-button color="accent" (click)="useLanguage('fr')">{{ 'menu.fra' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('en')">{{ 'menu.eng' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('ne')">{{ 'menu.neer' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('ch')">{{ 'menu.chi' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('de')">{{ 'menu.all' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('en')">{{ 'menu.esp' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('en')">{{ 'menu.lat' | translate }}</button>
            <button mat-stroked-button color="accent" (click)="useLanguage('en')">{{ 'menu.ara' | translate }}</button>
        </div>
        <div class="col-md-2 mt-5"></div>
        <div class="col-md-2 mt-5">
              <button mat-raised-button [style.background]="color" >{{ texte }}</button>
        </div>
    </div>
        
</div>
    <br>
    <br>
    <br>
    <br>
      
      <app-main-cmp [currentLanguage]="langue" (newDialogEvent)="stateDialog($event)"></app-main-cmp>

<router-outlet></router-outlet>